.homepage-page {
    display: flex;
    flex-direction: column;

    .buttons-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        margin: 100px 0;

        .img {
            width: 600px;
        }
        
    }

    .popular-books-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        background: #ff00ff;
        border-radius: 10px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        .popular-book-contents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                padding: 0; 
                word-wrap: break-word;
            }
    }



    .smaller-card-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;

        .popular-badges {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            width: 25vw;
            background: #99d9ea;
            border-radius: 10px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

            h4 {
                margin-left: 10px;
            }

            ul {
                padding: 0;
            }
        }

        .popular-genres {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            width: 25vw;
            background: #5838c2;
            border-radius: 10px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

            h4 {
                margin-left: 10px;
            }
            
            ul {
                padding: 0;
            }
        }

        .twitter-feed {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25vw;
            border-radius: 10px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

            h4 {
                margin-left: 10px;
                justify-content: center;
            }
        }
    }
}

$breakpoint-tablet: 1100px;
$breakpoint-phone: 425px;

@media (max-width: $breakpoint-tablet) {
    .homepage-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 70px;

        .buttons-container {
            position: absolute;
            top: 80px;
            right: 20px;
        }

        .logo-container img {
            margin-top: 200px;
            width: 400px;
        }

        .popular-books-container {
            justify-content: center;
            width: 80vw;
            margin-left: 10vw;
        }

        .smaller-card-container {
            display: flex;
            flex-direction: column;
            margin-left: 10vw;

            .popular-badges {
                width: 80vw;
            }

            .popular-genres {
                width: 80vw;
            }

            .twitter-feed {
                display: flex;
                width: 40vw;
                position: relative;
                left: 20vw;
            }
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .homepage-page {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-container {
            margin: 100px 0 30px 90px
        }

        .logo-container img {
            width: 80vw;
            margin-left: 10vw;
            margin: 50px;
            margin-left: 0px;
        }

        .buttons-container {
            display: flex;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 65px;
            right: 100px;
        }

        .popular-books-container {
            width: 80vw;
        }

        .smaller-card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10vw;

            .popular-badges {
                width: 80vw;
            }

            .twitter-feed {
                display: none;
            }
        }
    }
}