.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .login-form {
            display: flex;
            flex-direction: column;
        }
    }
}

